- include_stylesheet 'admin/filmstrip'
- include_javascript 'admin/dragdrop'
%h1
  Filmstrip
%p
  %em
    Arrange the thumbnails by dragging them in the order you wish.
#filmstrip-boxes
  #left-images
    %h2
      Filmstrip
    = render :partial => 'buckets', :locals => {:bucket => 'filmstrip'}