<% include_javascript 'dragdrop' %>
<% include_stylesheet 'admin/application' %>

<h1>Filmstrip</h1>

<p><em>Arrange the thumbnails by dragging them in the order you wish.</em></p>

<div id="filmstrip-boxes">
  <div id="left-images">
    <h2>Filmstrip</h2>                                                                     
    <%= render :partial => 'buckets', :locals => {:bucket => 'filmstrip'} %>
  </div>
</div>